In [164]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('Cars_Datasets_2025.csv', encoding='windows-1252')
df.info()

#abbiamo 10 colonne composte da oggetti

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1218 non-null   object
 1   Cars Names                 1218 non-null   object
 2   Engines                    1218 non-null   object
 3   CC/Battery Capacity        1215 non-null   object
 4   HorsePower                 1218 non-null   object
 5   Total Speed                1218 non-null   object
 6   Performance(0 - 100 )KM/H  1212 non-null   object
 7   Cars Prices                1218 non-null   object
 8   Fuel Types                 1218 non-null   object
 9   Seats                      1218 non-null   object
 10  Torque                     1217 non-null   object
dtypes: object(11)
memory usage: 104.8+ KB

In [165]:
for col in ["Company Names","Cars Names","Engines","CC/Battery Capacity","HorsePower","Total Speed","Performance(0 - 100 )KM/H","Cars Prices","Fuel Types","Seats","Torque"]:
    group_df = df.groupby(col).count()
    print(df[col].nunique())
    print(group_df)

37
                   Cars Names  Engines  CC/Battery Capacity  HorsePower  \
Company Names
ASTON MARTIN               11       11                   11          11
AUDI                       21       21                   21          21
Acura                      27       27                   27          27
BENTLEY                     1        1                    1           1
BMW                        41       41                   41          41
Bugatti                    10       10                   10          10
Cadillac                   20       20                   20          20
Chevrolet                  58       58                   58          58
FERRARI                     9        9                    9           9
Ford                       54       54                   54          54
GMC                        59       59                   59          59
HONDA                       7        7                    7           7
HYUNDAI                    23       23                   23          23
Jaguar Land Rover          40       40                   40          40
Jeep                       19       19                   19          19
KIA                        16       16                   16          16
KIA                         1        1                    1           1
Kia                        54       54                   54          54
LAMBORGHINI                24       24                   24          24
MAHINDRA                    3        3                    3           3
MARUTI SUZUKI               3        3                    3           3
MERCEDES                   21       21                   20          21
Mazda                      87       87                   86          87
Mitsubishi                 60       60                   60          60
NISSAN                     10       10                   10          10
Nissan                    149      149                  148         149
Peugeot                    54       54                   54          54
Porsche                    96       96                   96          96
ROLLS ROYCE                29       29                   29          29
ROLLS ROYCE                 1        1                    1           1
TOYOTA                     45       45                   45          45
Tata Motors                29       29                   29          29
Tesla                      10       10                   10          10
Toyota                      5        5                    5           5
VOLVO                       3        3                    3           3
Volkswagen                109      109                  109         109
Volvo                       9        9                    9           9

                   Total Speed  Performance(0 - 100 )KM/H  Cars Prices  \
Company Names
ASTON MARTIN                11                         11           11
AUDI                        21                         21           21
Acura                       27                         27           27
BENTLEY                      1                          1            1
BMW                         41                         41           41
Bugatti                     10                         10           10
Cadillac                    20                         20           20
Chevrolet                   58                         58           58
FERRARI                      9                          9            9
Ford                        54                         54           54
GMC                         59                         59           59
HONDA                        7                          7            7
HYUNDAI                     23                         23           23
Jaguar Land Rover           40                         40           40
Jeep                        19                         19           19
KIA                         16                         16           16
KIA                          1                          1            1
Kia                         54                         54           54
LAMBORGHINI                 24                         24           24
MAHINDRA                     3                          3            3
MARUTI SUZUKI                3                          3            3
MERCEDES                    21                         21           21
Mazda                       87                         86           87
Mitsubishi                  60                         56           60
NISSAN                      10                         10           10
Nissan                     149                        149          149
Peugeot                     54                         54           54
Porsche                     96                         96           96
ROLLS ROYCE                 29                         29           29
ROLLS ROYCE                  1                          1            1
TOYOTA                      45                         44           45
Tata Motors                 29                         29           29
Tesla                       10                         10           10
Toyota                       5                          5            5
VOLVO                        3                          3            3
Volkswagen                 109                        109          109
Volvo                        9                          9            9

                   Fuel Types  Seats  Torque
Company Names
ASTON MARTIN               11     11      11
AUDI                       21     21      21
Acura                      27     27      27
BENTLEY                     1      1       1
BMW                        41     41      41
Bugatti                    10     10      10
Cadillac                   20     20      20
Chevrolet                  58     58      58
FERRARI                     9      9       9
Ford                       54     54      54
GMC                        59     59      59
HONDA                       7      7       7
HYUNDAI                    23     23      23
Jaguar Land Rover          40     40      40
Jeep                       19     19      19
KIA                        16     16      16
KIA                         1      1       1
Kia                        54     54      54
LAMBORGHINI                24     24      24
MAHINDRA                    3      3       3
MARUTI SUZUKI               3      3       3
MERCEDES                   21     21      21
Mazda                      87     87      86
Mitsubishi                 60     60      60
NISSAN                     10     10      10
Nissan                    149    149     149
Peugeot                    54     54      54
Porsche                    96     96      96
ROLLS ROYCE                29     29      29
ROLLS ROYCE                 1      1       1
TOYOTA                     45     45      45
Tata Motors                29     29      29
Tesla                      10     10      10
Toyota                      5      5       5
VOLVO                       3      3       3
Volkswagen                109    109     109
Volvo                       9      9       9
1201
                   Company Names  Engines  CC/Battery Capacity  HorsePower  \
Cars Names
 GT 63 S                       1        1                    1           1
100NX                          1        1                    1           1
114D                           1        1                    1           1
114D SPORT LINE                1        1                    1           1
114i                           1        1                    1           1
...                          ...      ...                  ...         ...
e-208                          1        1                    1           1
eK Space                       1        1                    1           1
eK X                           1        1                    1           1
i (Kei Car)                    1        1                    1           1
i-MiEV (Electric)              1        1                    1           1

                   Total Speed  Performance(0 - 100 )KM/H  Cars Prices  \
Cars Names
 GT 63 S                     1                          1            1
100NX                        1                          1            1
114D                         1                          1            1
114D SPORT LINE              1                          1            1
114i                         1                          1            1
...                        ...                        ...          ...
e-208                        1                          1            1
eK Space                     1                          1            1
eK X                         1                          1            1
i (Kei Car)                  1                          1            1
i-MiEV (Electric)            1                          1            1

                   Fuel Types  Seats  Torque
Cars Names
 GT 63 S                    1      1       1
100NX                       1      1       1
114D                        1      1       1
114D SPORT LINE             1      1       1
114i                        1      1       1
...                       ...    ...     ...
e-208                       1      1       1
eK Space                    1      1       1
eK X                        1      1       1
i (Kei Car)                 1      1       1
i-MiEV (Electric)           1      1       1

[1201 rows x 10 columns]
356
                             Company Names  Cars Names  CC/Battery Capacity  \
Engines
0.36L Inline-2                           1           1                    1
0.66L Inline-3                           1           1                    1
0.7L 3-Cylinder                          5           5                    5
1.0L EcoBoost / 1.5L                     1           1                    1
1.0L EcoBoost / 1.5L / 2.0L              1           1                    1
...                                    ...         ...                  ...
V6 Petrol                                4           4                    4
V6 Turbocharged                          1           1                    1
V8                                      34          34                   34
V8 Gasoline Engine                       2           2                    2
V8 Petrol                                8           8                    8

                             HorsePower  Total Speed  \
Engines
0.36L Inline-2                        1            1
0.66L Inline-3                        1            1
0.7L 3-Cylinder                       5            5
1.0L EcoBoost / 1.5L                  1            1
1.0L EcoBoost / 1.5L / 2.0L           1            1
...                                 ...          ...
V6 Petrol                             4            4
V6 Turbocharged                       1            1
V8                                   34           34
V8 Gasoline Engine                    2            2
V8 Petrol                             8            8

                             Performance(0 - 100 )KM/H  Cars Prices  \
Engines
0.36L Inline-2                                       1            1
0.66L Inline-3                                       1            1
0.7L 3-Cylinder                                      5            5
1.0L EcoBoost / 1.5L                                 1            1
1.0L EcoBoost / 1.5L / 2.0L                          1            1
...                                                ...          ...
V6 Petrol                                            4            4
V6 Turbocharged                                      1            1
V8                                                  34           34
V8 Gasoline Engine                                   2            2
V8 Petrol                                            8            8

                             Fuel Types  Seats  Torque
Engines
0.36L Inline-2                        1      1       1
0.66L Inline-3                        1      1       1
0.7L 3-Cylinder                       5      5       5
1.0L EcoBoost / 1.5L                  1      1       1
1.0L EcoBoost / 1.5L / 2.0L           1      1       1
...                                 ...    ...     ...
V6 Petrol                             4      4       4
V6 Turbocharged                       1      1       1
V8                                   34     34      34
V8 Gasoline Engine                    2      2       2
V8 Petrol                             8      8       8

[356 rows x 10 columns]
311
                               Company Names  Cars Names  Engines  HorsePower  \
CC/Battery Capacity
-                                          2           2        2           2
1,000 - 1,500 cc                           1           1        1           1
1,000 - 2,000 cc                           2           2        2           2
1,000 cc                                   2           2        2           2
1,100 - 1,500 cc                           1           1        1           1
...                                      ...         ...      ...         ...
999 cc / 1598 cc                           1           1        1           1
Battery (68-98 kWh)                        1           1        1           1
Battery (98 kWh)                           1           1        1           1
HYBRID(2,494 cc),V6(3,456 cc)              1           1        1           1
~50 kWh (Estimate)                         1           1        1           1

                               Total Speed  Performance(0 - 100 )KM/H  \
CC/Battery Capacity
-                                        2                          2
1,000 - 1,500 cc                         1                          1
1,000 - 2,000 cc                         2                          2
1,000 cc                                 2                          2
1,100 - 1,500 cc                         1                          1
...                                    ...                        ...
999 cc / 1598 cc                         1                          1
Battery (68-98 kWh)                      1                          1
Battery (98 kWh)                         1                          1
HYBRID(2,494 cc),V6(3,456 cc)            1                          1
~50 kWh (Estimate)                       1                          1

                               Cars Prices  Fuel Types  Seats  Torque
CC/Battery Capacity
-                                        2           2      2       2
1,000 - 1,500 cc                         1           1      1       1
1,000 - 2,000 cc                         2           2      2       2
1,000 cc                                 2           2      2       2
1,100 - 1,500 cc                         1           1      1       1
...                                    ...         ...    ...     ...
999 cc / 1598 cc                         1           1      1       1
Battery (68-98 kWh)                      1           1      1       1
Battery (98 kWh)                         1           1      1       1
HYBRID(2,494 cc),V6(3,456 cc)            1           1      1       1
~50 kWh (Estimate)                       1           1      1       1

[311 rows x 10 columns]
456
                Company Names  Cars Names  Engines  CC/Battery Capacity  \
HorsePower
1,020 hp                    2           2        2                    2
1,288 hp                    1           1        1                    1
100 - 150 hp                1           1        1                    1
100 HP                      3           3        3                    3
100 hp                      7           7        7                    7
...                       ...         ...      ...                  ...
99 hp                       1           1        1                    1
Up to 1,000 hp              2           2        2                    2
Up to 754 hp                1           1        1                    1
Up to 830 hp                3           3        3                    3
~170 hp                     1           1        1                    1

                Total Speed  Performance(0 - 100 )KM/H  Cars Prices  \
HorsePower
1,020 hp                  2                          2            2
1,288 hp                  1                          1            1
100 - 150 hp              1                          1            1
100 HP                    3                          3            3
100 hp                    7                          7            7
...                     ...                        ...          ...
99 hp                     1                          1            1
Up to 1,000 hp            2                          2            2
Up to 754 hp              1                          1            1
Up to 830 hp              3                          3            3
~170 hp                   1                          1            1

                Fuel Types  Seats  Torque
HorsePower
1,020 hp                 2      2       2
1,288 hp                 1      1       1
100 - 150 hp             1      1       1
100 HP                   3      3       3
100 hp                   7      7       7
...                    ...    ...     ...
99 hp                    1      1       1
Up to 1,000 hp           2      2       2
Up to 754 hp             1      1       1
Up to 830 hp             3      3       3
~170 hp                  1      1       1

[456 rows x 10 columns]
114
             Company Names  Cars Names  Engines  CC/Battery Capacity  \
Total Speed
100 km/h                 2           2        2                    2
105 km/h                 1           1        1                    1
110 km/h                 4           4        4                    4
120 km/h                15          15       15                   15
125 km/h                 1           1        1                    1
...                    ...         ...      ...                  ...
490 km/h                 1           1        1                    1
500 km/h                 1           1        1                    1
80 km/h                  1           1        1                    1
85 km/h                  1           1        1                    1
90 km/h                  1           1        1                    1

             HorsePower  Performance(0 - 100 )KM/H  Cars Prices  Fuel Types  \
Total Speed
100 km/h              2                          1            2           2
105 km/h              1                          1            1           1
110 km/h              4                          4            4           4
120 km/h             15                         11           15          15
125 km/h              1                          1            1           1
...                 ...                        ...          ...         ...
490 km/h              1                          1            1           1
500 km/h              1                          1            1           1
80 km/h               1                          1            1           1
85 km/h               1                          1            1           1
90 km/h               1                          1            1           1

             Seats  Torque
Total Speed
100 km/h         2       2
105 km/h         1       1
110 km/h         4       4
120 km/h        15      15
125 km/h         1       1
...            ...     ...
490 km/h         1       1
500 km/h         1       1
80 km/h          1       1
85 km/h          1       1
90 km/h          1       1

[114 rows x 10 columns]
180
                           Company Names  Cars Names  Engines  \
Performance(0 - 100 )KM/H
 6.1 sec                               1           1        1
1.9 sec                                1           1        1

In [166]:
df["Company Names"] = (
df["Company Names"]
    .astype(str)
    .str.strip()
    .str.upper()
    .str.replace(r"\s+", " ", regex=True)
)

for col in ["Company Names"]:
        group_df_uniform = df.groupby(col).count()
        print(df[col].nunique())
        print(group_df_uniform)
        
#Uniformiamo le company names uguali ma scritte in modo diverso , rendendole tutte MAIUSCOLE

31
                   Cars Names  Engines  CC/Battery Capacity  HorsePower  \
Company Names
ACURA                      27       27                   27          27
ASTON MARTIN               11       11                   11          11
AUDI                       21       21                   21          21
BENTLEY                     1        1                    1           1
BMW                        41       41                   41          41
BUGATTI                    10       10                   10          10
CADILLAC                   20       20                   20          20
CHEVROLET                  58       58                   58          58
FERRARI                     9        9                    9           9
FORD                       54       54                   54          54
GMC                        59       59                   59          59
HONDA                       7        7                    7           7
HYUNDAI                    23       23                   23          23
JAGUAR LAND ROVER          40       40                   40          40
JEEP                       19       19                   19          19
KIA                        71       71                   71          71
LAMBORGHINI                24       24                   24          24
MAHINDRA                    3        3                    3           3
MARUTI SUZUKI               3        3                    3           3
MAZDA                      87       87                   86          87
MERCEDES                   21       21                   20          21
MITSUBISHI                 60       60                   60          60
NISSAN                    159      159                  158         159
PEUGEOT                    54       54                   54          54
PORSCHE                    96       96                   96          96
ROLLS ROYCE                30       30                   30          30
TATA MOTORS                29       29                   29          29
TESLA                      10       10                   10          10
TOYOTA                     50       50                   50          50
VOLKSWAGEN                109      109                  109         109
VOLVO                      12       12                   12          12

                   Total Speed  Performance(0 - 100 )KM/H  Cars Prices  \
Company Names
ACURA                       27                         27           27
ASTON MARTIN                11                         11           11
AUDI                        21                         21           21
BENTLEY                      1                          1            1
BMW                         41                         41           41
BUGATTI                     10                         10           10
CADILLAC                    20                         20           20
CHEVROLET                   58                         58           58
FERRARI                      9                          9            9
FORD                        54                         54           54
GMC                         59                         59           59
HONDA                        7                          7            7
HYUNDAI                     23                         23           23
JAGUAR LAND ROVER           40                         40           40
JEEP                        19                         19           19
KIA                         71                         71           71
LAMBORGHINI                 24                         24           24
MAHINDRA                     3                          3            3
MARUTI SUZUKI                3                          3            3
MAZDA                       87                         86           87
MERCEDES                    21                         21           21
MITSUBISHI                  60                         56           60
NISSAN                     159                        159          159
PEUGEOT                     54                         54           54
PORSCHE                     96                         96           96
ROLLS ROYCE                 30                         30           30
TATA MOTORS                 29                         29           29
TESLA                       10                         10           10
TOYOTA                      50                         49           50
VOLKSWAGEN                 109                        109          109
VOLVO                       12                         12           12

                   Fuel Types  Seats  Torque
Company Names
ACURA                      27     27      27
ASTON MARTIN               11     11      11
AUDI                       21     21      21
BENTLEY                     1      1       1
BMW                        41     41      41
BUGATTI                    10     10      10
CADILLAC                   20     20      20
CHEVROLET                  58     58      58
FERRARI                     9      9       9
FORD                       54     54      54
GMC                        59     59      59
HONDA                       7      7       7
HYUNDAI                    23     23      23
JAGUAR LAND ROVER          40     40      40
JEEP                       19     19      19
KIA                        71     71      71
LAMBORGHINI                24     24      24
MAHINDRA                    3      3       3
MARUTI SUZUKI               3      3       3
MAZDA                      87     87      86
MERCEDES                   21     21      21
MITSUBISHI                 60     60      60
NISSAN                    159    159     159
PEUGEOT                    54     54      54
PORSCHE                    96     96      96
ROLLS ROYCE                30     30      30
TATA MOTORS                29     29      29
TESLA                      10     10      10
TOYOTA                     50     50      50
VOLKSWAGEN                109    109     109
VOLVO                      12     12      12

In [167]:
#Eliminazione colonna Engines poichè non statisticamente rilevante

engine_counts = df['Engines'].value_counts()
print("Conteggio motori:\n", engine_counts)

#Percentuale di ogni motore sul totale
engine_percentage = df['Engines'].value_counts(normalize=True) * 100
print("\nPercentuale motori sul totale:\n", engine_percentage.round(2))

#Elimino la colonna Engines dal DataFrame
df = df.drop(columns=['Engines'])
print("\nColonna 'Engines' eliminata" )

Conteggio motori:
 Engines
I4                                    64
V12                                   51
V6                                    39
Inline-4                              38
V8                                    34
                                      ..
1.5L,HYBRID                            1
2.4L Turbo I4 (i-FORCE MAX Hybrid)     1
2.0L Gas / 2.0L Hybrid                 1
1.8L / 2.0L Hybrid                     1
2.5L Hybrid / Plug-in Hybrid           1
Name: count, Length: 356, dtype: int64

Percentuale motori sul totale:
 Engines
I4                                    5.25
V12                                   4.19
V6                                    3.20
Inline-4                              3.12
V8                                    2.79
                                      ...
1.5L,HYBRID                           0.08
2.4L Turbo I4 (i-FORCE MAX Hybrid)    0.08
2.0L Gas / 2.0L Hybrid                0.08
1.8L / 2.0L Hybrid                    0.08
2.5L Hybrid / Plug-in Hybrid          0.08
Name: proportion, Length: 356, dtype: float64

Colonna 'Engines' eliminata

In [168]:
import re
import pandas as pd
import numpy as np

def extract_numeric(s):
    if pd.isna(s):
        return np.nan
    s = str(s).replace('–','-')  # normalizza trattini
    
    # Caso speciale: se contiene '+', somma i numeri
    if '+' in s:
        parts = re.findall(r'\d+(?:\.\d+)?', s)
        if not parts:
            return np.nan
        return sum(float(p) for p in parts)
    
    # Altrimenti: estrai numeri e calcola media se intervallo
    numbers = re.findall(r'\d+(?:\.\d+)?', s)
    if not numbers:
        return np.nan
    numbers = [float(n) for n in numbers]
    return np.mean(numbers)

In [169]:
import re

# Funzione per classificare Fuel Types
def normalize_fuel(x):
    if pd.isna(x):
        return np.nan
    t = str(x).lower().strip()

    # PLUG-IN HYBRID
    if re.search(r"\bplug[- ]?in\b", t) or "plug" in t:
        return "plug-in hybrid"

    # PETROL HYBRID
    if "petrol" in t and "hybrid" in t:
        return "petrol hybrid"

    # HYBRID semplice
    if "hybrid" in t:
        return "hybrid"

    # PETROL puro
    if "petrol" in t:
        return "petrol"

    # DIESEL
    if "diesel" in t:
        return "diesel"

    # ELECTRIC / EV
    if "electric" in t or "ev" in t:
        return "electric"

    # HYDROGEN
    if "hydrogen" in t:
        return "hydrogen"

    # Se nulla matcha → restituisco il testo normalizzato
    return t

# Applico la normalizzazione
df["Fuel Types"] = df["Fuel Types"].apply(normalize_fuel)

# Controllo i valori unici (per vedere se ci sono errori di battitura)
for col in ['Company Names', 'Fuel Types']:
    print(col, df[col].unique())

Company Names ['FERRARI' 'ROLLS ROYCE' 'FORD' 'MERCEDES' 'AUDI' 'BMW' 'ASTON MARTIN'
 'BENTLEY' 'LAMBORGHINI' 'TOYOTA' 'NISSAN' 'VOLVO' 'KIA' 'HONDA' 'HYUNDAI'
 'MAHINDRA' 'MARUTI SUZUKI' 'VOLKSWAGEN' 'PORSCHE' 'CADILLAC'
 'TATA MOTORS' 'TESLA' 'JEEP' 'MAZDA' 'CHEVROLET' 'GMC' 'PEUGEOT'
 'BUGATTI' 'JAGUAR LAND ROVER' 'ACURA' 'MITSUBISHI']
Fuel Types ['plug-in hybrid' 'petrol' 'diesel' 'hybrid' 'electric' 'petrol hybrid'
 'hydrogen']

In [170]:
import seaborn as sns

numeric_cols=df[['HorsePower_numeric','Total_Speed_numeric','Cars_Prices_numeric',
    'Torque_numeric','CC_Battery_numeric','Performance_numeric','Seats_numeric']]

#Funzione per calcolare IQR e individuare outlier
def find_outliers(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower) | (df[col] > upper)]
    return outliers

#Loop su tutte le colonne,
for col in numeric_cols:
    plt.figure(figsize=(8,4))
    sns.boxplot(x=df[col])
    plt.title(f'Boxplot di {col} (outlier evidenziati)')
    plt.show()

    outliers = find_outliers(df, col)
    print(f"\nColonna: {col}")
    print(f"Numero di outlier: {len(outliers)}")
    if len(outliers) > 0:
        print(outliers[[col]])

ModuleNotFoundError: No module named 'seaborn'